{% extends 'store/base-store.html' %}

{% block content %}
<div class="container">

    <h2>
        <span>Posts</span>
        <span class="flow-text">post_detail.html</span>
    </h2>
    
    {% comment %} <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>


    </div> {% endcomment %}


      
    <div class="row">
        {% for item in query_post %}
        <div class="col s12 m8">
            <div class="card">
                <div class="card-content orange darken-2"> 
                    <span class="card-title">{{item.title}}</span>
                    <small>{{item.published_date }}</small>
                    <p>{{item.text }}</p>
                </div>
                <div class="card-action orange darken-4">
                    <a class="white-text" href="#">link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}