{% extends 'base-store.html' %}
{% load static %}

{% block title %}Products{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Products</h1>
            <p>Developed and proposed for the first time in
                England by Stephen Lewis and Ken Heaton at
                the University Department of Medicine,
                Bristol Royal Infirmary, it was suggested by
                the authors as</p>
                <img class="col s5" src="{% static '/store/img/prod.gif' %}" alt="My image">
                <ol>
                    <li>Lorem, ipsum dolor sit amet consectetur </li>
                    <li>adipisicing elit. Quia enim nihil</li>
                    <li>eligendi velit, ipsam, alias dignissimos dicta</li>
                    <li>animi repellat quis voluptatem minima vel</li>
                    <li>tempore libero sint adipisci doloribus</li>
                    <li>pariatur aut!</li>
                </ol>

        </div>
    </div>
</div>

{% endblock %}