{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Hello World {% endblock title %}</title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
    <style>
      .logo-me{ height: 2.6rem; margin-top:1rem }
    </style>
</head>
<body class="grey lighten-3">

  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
          <img class="logo-me" src="{% static '/store/img/logo-white.png' %}" alt="My image">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li {% if nbar == 'home' %} class="active" {% endif %}><a href="./">home</a></li>
          <li {% if nbar == 'about' %} class="active" {% endif %}><a href="./about">about</a></li>
          <li {% if nbar == 'products' %} class="active" {% endif %}><a href="./products">products</a></li>
          <li {% if nbar == 'services' %} class="active" {% endif %}><a href="./services">services</a></li>
          <li {% if nbar == 'contact' %} class="active" {% endif %}><a href="./contact">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li {% if nbar == 'home' %} class="active" {% endif %}><a href="./">home</a></li>
    <li {% if nbar == 'about' %} class="active" {% endif %}><a href="./about">about</a></li>
    <li {% if nbar == 'products' %} class="active" {% endif %}><a href="./products">products</a></li>
    <li {% if nbar == 'services' %} class="active" {% endif %}><a href="./services">services</a></li>
    <li {% if nbar == 'contact' %} class="active" {% endif %}><a href="./contact">contact</a></li>
  </ul>



  {% block content %}contenido{% endblock content %}



  <footer class="purple darken-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
          <ul>
            <li class="active"><a href=""></a>home</li>
            <li><a href="./about"></a>about</li>
            <li><a href="./products"></a>products</li>
            <li><a href="./services"></a>services</li>
            <li><a href="./contact"></a>contact</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>  


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>

</body>
</html>